@import url("//db.onlinewebfonts.com/c/721c73bcd2e49f3a621991089838b503?family=Euclid + Circular + B + Medium");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@font-face {
  font-family: "Euclid Circular B";
  src: url("EuclidCircularB-Bold.eot");
  src: local("Euclid Circular B Bold"), local("EuclidCircularB-Bold"), url("../fonts/EuclidCircularB-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/EuclidCircularB-Bold.woff2") format("woff2"), url("../fonts/EuclidCircularB-Bold.woff") format("woff"), url("../fonts/EuclidCircularB-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Euclid Circular B";
  src: url("../fonts/EuclidCircularB-Italic.eot");
  src: local("Euclid Circular B Italic"), local("EuclidCircularB-Italic"), url("../fonts/EuclidCircularB-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/EuclidCircularB-Italic.woff2") format("woff2"), url("../fonts/EuclidCircularB-Italic.woff") format("woff"), url("../fonts/EuclidCircularB-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: "Euclid Circular B";
  src: url("../fonts/EuclidCircularB-Medium.eot");
  src: local("Euclid Circular B Medium"), local("EuclidCircularB-Medium"), url("../fonts/EuclidCircularB-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/EuclidCircularB-Medium.woff2") format("woff2"), url("../fonts/EuclidCircularB-Medium.woff") format("woff"), url("../fonts/EuclidCircularB-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Euclid Circular B";
  src: url("../fonts/EuclidCircularB-SemiBoldItalic.eot");
  src: local("Euclid Circular B SemiBold Italic"), local("EuclidCircularB-SemiBoldItalic"), url("../fonts/EuclidCircularB-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/EuclidCircularB-SemiBoldItalic.woff2") format("woff2"), url("../fonts/EuclidCircularB-SemiBoldItalic.woff") format("woff"), url("../fonts/EuclidCircularB-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: "Euclid Circular B";
  src: url("../fonts/EuclidCircularB-BoldItalic.eot");
  src: local("Euclid Circular B Bold Italic"), local("EuclidCircularB-BoldItalic"), url("../fonts/EuclidCircularB-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/EuclidCircularB-BoldItalic.woff2") format("woff2"), url("../fonts/EuclidCircularB-BoldItalic.woff") format("woff"), url("../fonts/EuclidCircularB-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: "Euclid Circular B";
  src: url("../fonts/EuclidCircularB-MediumItalic.eot");
  src: local("Euclid Circular B Medium Italic"), local("EuclidCircularB-MediumItalic"), url("../fonts/EuclidCircularB-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/EuclidCircularB-MediumItalic.woff2") format("woff2"), url("../fonts/EuclidCircularB-MediumItalic.woff") format("woff"), url("../fonts/EuclidCircularB-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: "Euclid Circular B";
  src: url("../fonts/EuclidCircularB-SemiBold.eot");
  src: local("Euclid Circular B SemiBold"), local("EuclidCircularB-SemiBold"), url("../fonts/EuclidCircularB-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/EuclidCircularB-SemiBold.woff2") format("woff2"), url("../fonts/EuclidCircularB-SemiBold.woff") format("woff"), url("../fonts/EuclidCircularB-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: "Euclid Circular B";
  src: url("../fonts/EuclidCircularB-Light.eot");
  src: local("Euclid Circular B Light"), local("EuclidCircularB-Light"), url("../fonts/EuclidCircularB-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/EuclidCircularB-Light.woff2") format("woff2"), url("../fonts/EuclidCircularB-Light.woff") format("woff"), url("../fonts/EuclidCircularB-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Euclid Circular B";
  src: url("../fonts/EuclidCircularB-Regular.eot");
  src: local("Euclid Circular B Regular"), local("EuclidCircularB-Regular"), url("../fonts/EuclidCircularB-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/EuclidCircularB-Regular.woff2") format("woff2"), url("../fonts/EuclidCircularB-Regular.woff") format("woff"), url("../fonts/EuclidCircularB-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Euclid Circular B";
  src: url("../fonts/EuclidCircularB-LightItalic.eot");
  src: local("Euclid Circular B Light Italic"), local("EuclidCircularB-LightItalic"), url("../fonts/EuclidCircularB-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/EuclidCircularB-LightItalic.woff2") format("woff2"), url("../fonts/EuclidCircularB-LightItalic.woff") format("woff"), url("../fonts/EuclidCircularB-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

#audio {
  width: 148px;
  top: 28px;
  z-index: 1231;
  height: 28px;
  left: 15px; }

body {
  font-family: "Euclid Circular B"; }

a {
  font-family: "Euclid Circular B"; }

.HeaderFixed {
  position: relative;
  background: #2a263c;
  z-index: 1;
  padding: 10px 0;
  color: #fff; }
  .HeaderFixed.fixedTrue {
    position: fixed;
    z-index: 10;
    width: 100%;
    z-index: 40;
    top: 0px;
    left: 0px;
    animation: showHeader 0.5s ease-out; }
    .HeaderFixed.fixedTrue .menuOnScroll {
      display: block; }
  .HeaderFixed .menuOnScroll {
    display: none; }
    .HeaderFixed .menuOnScroll ul {
      list-style: none;
      display: flex;
      justify-content: center;
      margin-bottom: 0;
      text-transform: uppercase; }
      .HeaderFixed .menuOnScroll ul a {
        color: #fff;
        border-bottom: 2px transparent; }
        .HeaderFixed .menuOnScroll ul a.active, .HeaderFixed .menuOnScroll ul a:hover {
          border-bottom: 2px solid;
          color: #7cb46b; }
      .HeaderFixed .menuOnScroll ul li {
        margin: 0 10px; }
  .HeaderFixed__right a {
    margin: 0 5px;
    display: inline-block; }

.btns-green {
  background: #7cb46b;
  font-weight: bold;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0px 31px 34px -14px rgba(37, 74, 31, 0.3), inset 8px -8px 10px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  text-transform: uppercase;
  width: 140px; }
  .btns-green-darkGreen {
    background: #51684b; }
  .btns-green-ligth {
    background: #fff !important;
    color: #51684b;
    border: 2px solid;
    box-shadow: none; }

.brns a {
  transform: scale(0.7); }

.firstSection {
  position: relative; }
  .firstSection .sectinFutter {
    background: #403d50;
    padding: 20px 0;
    margin-top: 80px; }
    .firstSection .sectinFutter a {
      color: rgba(255, 255, 255, 0.7);
      margin-right: 20px; }
      .firstSection .sectinFutter a:hover {
        color: #fff;
        border-bottom: 2px solid #fff;
        text-decoration: none; }
  .firstSection .container {
    height: 100%; }
  .firstSection .jungle {
    position: absolute;
    width: 42%;
    right: 20px;
    top: -70px;
    max-height: 95vh; }
  .firstSection .coin1 {
    position: absolute;
    left: 59%;
    top: -74px;
    z-index: 2;
    max-width: 136px;
    width: 7vw; }
  .firstSection .coin2 {
    position: absolute;
    left: -21%;
    top: 9px;
    z-index: 2;
    max-width: 116px;
    width: 6vw;
    animation: float 6s ease-in-out infinite; }
  .firstSection .coin3 {
    position: absolute;
    left: 89%;
    top: 50%;
    z-index: 2;
    max-width: 76px;
    width: 3vw;
    animation: float2 26s ease-in-out infinite; }
  .firstSection .coin4 {
    position: absolute;
    left: 59%;
    top: 40%;
    z-index: 2;
    max-width: 116px;
    width: 5vw;
    animation: float3 16s ease-in-out infinite; }
  .firstSection__content {
    margin-top: 80px;
    max-width: 500px;
    position: relative; }
    .firstSection__content p.dark {
      color: #272538; }
    .firstSection__content p {
      color: #6d6b7c; }
    .firstSection__content .heding {
      position: relative;
      font-weight: bold;
      text-transform: uppercase; }
      .firstSection__content .heding div {
        color: #b1b0bc;
        font-family: "Euclid Circular B";
        font-size: 40px; }
      .firstSection__content .heding span {
        font-size: 100px;
        color: #2a263c;
        font-family: "Euclid Circular B";
        line-height: 100%;
        margin-bottom: 30px;
        display: inline-block;
        text-shadow: 0px 68px 80px rgba(42, 38, 60, 0.34); }
  .firstSection__header {
    font-family: "Euclid Circular B Medium";
    margin-top: 30px;
    position: relative; }
    .firstSection__header__menu {
      display: flex;
      align-items: center; }
      .firstSection__header__menu img {
        max-width: 50px; }
    .firstSection__header ul {
      list-style: none;
      display: flex; }
      .firstSection__header ul li {
        margin: 0 14px;
        font-weight: bold; }
      .firstSection__header ul a {
        text-transform: uppercase;
        color: #6d6b7c;
        display: inline-block;
        padding-bottom: 2px; }
        .firstSection__header ul a.active {
          border-bottom: 2px solid;
          color: #7cb46b; }

.aboutUs {
  padding-top: 190px;
  background-color: #e5e5e5;
  background-image: url("../img/Group 86.png"), url("../img/Group 83.png");
  background-repeat: no-repeat;
  background-size: 16%;
  background-position: 0 0, right top;
  padding-bottom: 20px; }
  .aboutUs img {
    max-width: 100%; }

.features {
  background-color: #e5e5e5;
  padding-bottom: 30px;
  padding-top: 100px; }
  .features .dubbleTitle span {
    transform: translate(-50%, -50%); }

.HeaderFixed__right a {
  color: #fff; }
  .HeaderFixed__right a svg {
    color: #fff; }

.tokenomics {
  background-color: #e5e5e5;
  padding-bottom: 400px;
  padding-top: 120px;
  background-color: #e5e5e5;
  background-image: url("../img/Group 85.png");
  background-size: 16%;
  background-position: left bottom;
  padding-bottom: 80px;
  background-repeat: no-repeat; }

.stats {
  color: #fff;
  background: #51684b;
  padding: 30px 0;
  text-align: center; }
  .stats__item {
    font-size: 26px; }
    .stats__item span {
      display: inline-block;
      margin-bottom: 6px;
      font-size: 14px;
      font-weight: normal; }
    .stats__item div {
      font-family: "Anton", sans-serif; }

.roadmap {
  background-color: #e5e5e5;
  padding-top: 100px;
  position: relative;
  min-height: 1000px;
  background-image: url("../img/Group213.png");
  background-repeat: no-repeat;
  background-position: left bottom; }
  .roadmap .dubbleTitle span {
    transform: translate(-50%, -59%);
    left: 50%; }
  .roadmap .roadImage {
    position: absolute;
    max-width: 1300px;
    transform: translate(-50%, -279px);
    left: 50%; }
  .roadmap__item {
    max-width: 40%; }
    .roadmap__item div {
      color: #51684b;
      padding-bottom: 4px;
      font-size: 20px;
      border-bottom: 3px dashed; }
    .roadmap__item span {
      font-weight: bold;
      font-size: 20px;
      padding-top: 10px;
      display: inline-block; }
    .roadmap__item p {
      color: #838291;
      margin-top: 10px;
      font-size: 14px; }
    .roadmap__item-1 {
      text-align: right;
      margin-left: 20%;
      margin-top: 100px; }
    .roadmap__item-2 {
      text-align: right;
      margin-left: 28%;
      margin-top: 100px; }
    .roadmap__item-3 {
      text-align: right;
      margin-left: 42%;
      margin-top: 100px; }
    .roadmap__item-4 {
      margin-top: 280px; }
    .roadmap__item-5 {
      margin-top: 100px;
      margin-left: 12%; }
    .roadmap__item-6 {
      margin-top: 100px;
      margin-left: 18%; }
    .roadmap__item-7 {
      margin-top: 100px;
      margin-left: 12%; }
    .roadmap__item-8 {
      margin-top: 100px; }
    .roadmap__item-9 {
      margin-left: auto;
      text-align: right;
      margin-top: 250px; }
    .roadmap__item-10 {
      margin-left: 43%;
      text-align: right;
      margin-top: 100px; }
    .roadmap__item-11 {
      margin-left: 33%;
      text-align: right;
      margin-top: 100px; }
    .roadmap__item-12 {
      margin-left: 43%;
      text-align: right;
      margin-top: 100px; }
    .roadmap__item-13 {
      margin-left: auto;
      text-align: right;
      margin-top: 100px; }
    .roadmap__item-14 {
      text-align: right;
      margin-top: 100px; }
    .roadmap__item-15 {
      text-align: right;
      margin-top: 100px;
      margin-left: 20%;
      padding-bottom: 0px; }

.buy_Tokens {
  height: 60px;
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  border-radius: 50px;
  text-transform: uppercase;
  background: linear-gradient(107.79deg, #7cb46b 1.1%, #fe950a 1.1%, #eb8600 73.13%);
  border: 5px solid #ffcd8a; }

.dubbleTitle {
  position: relative;
  font-family: "Anton", sans-serif;
  text-transform: uppercase; }
  .dubbleTitle span {
    position: absolute;
    font-size: 100px;
    font-family: "Anton", sans-serif;
    white-space: nowrap;
    color: rgba(124, 180, 107, 0.1);
    transform: translate(-59px, -59%); }
  .dubbleTitle h2 {
    font-size: 44px;
    color: #2a263c;
    text-shadow: 0px 68px 80px rgba(42, 38, 60, 0.34);
    font-weight: bold;
    font-family: "Anton", sans-serif; }

.accordion-section .panel-default > .panel-heading {
  border: 0;
  background: #f4f4f4;
  background: #f1f7ef;
  padding: 0;
  border-radius: 15px;
  transition: 0.3s; }
  .accordion-section .panel-default > .panel-heading:hover {
    background-color: #7cb46b; }
    .accordion-section .panel-default > .panel-heading:hover a {
      color: #fff; }

.accordion-section .panel-default .panel-title a {
  display: block;
  font-weight: bold;
  font-size: 17px;
  color: #403d50;
  padding-right: 40px;
  position: relative; }
  .accordion-section .panel-default .panel-title a:hover {
    text-decoration: none; }

.accordion-section .panel-default .panel-title a:after {
  font-family: "FontAwesome";
  font-style: normal;
  font-size: 3rem;
  content: "";
  height: 30px;
  width: 30px;
  float: right;
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
  background-image: url("../img/Arrow - Down Circle.png");
  background-size: contain;
  background-repeat: no-repeat; }

.accordion-section .panel-default .panel-title a.collapsed:after {
  transform: translateY(-50%); }

.accordion-section .panel-default .panel-body {
  font-size: 1.2rem; }

.faq {
  padding-top: 250px; }
  .faq h3 {
    margin-bottom: 0px; }

.Globally {
  padding-bottom: 50px;
  padding-top: 50px; }
  .Globally h3 {
    text-transform: uppercase;
    font-size: 19px;
    margin-top: 9px; }

.Globally-item {
  max-width: 282px;
  margin: auto; }

.contact {
  padding-top: 150px;
  margin-top: 100px;
  background: #f1f7ef;
  background-image: url("../img/Group286.png");
  padding-bottom: 70px;
  background-repeat: no-repeat;
  background-size: 15%; }
  .contact .container {
    max-width: 700px; }
    .contact .container input,
    .contact .container textarea {
      border: 1px solid rgba(81, 104, 75, 0.4);
      font-size: 14px;
      border-radius: 8px; }
      .contact .container input::placeholder,
      .contact .container textarea::placeholder {
        color: rgba(6, 33, 38, 0.5); }
  .contact .dubbleTitle {
    margin-bottom: 80px; }
    .contact .dubbleTitle span {
      left: 50%;
      transform: translate(-50%, -59%); }

.footer {
  color: #4d4c55;
  background-color: #f1f7ef;
  padding-bottom: 30px;
  padding-top: 70px; }
  .footer .container {
    padding-top: 30px;
    font-size: 13px;
    border-top: 1px solid rgba(10, 173, 255, 0.2); }
    .footer .container img {
      height: 40px; }
  .footer .subscribe {
    display: flex; }
    .footer .subscribe input {
      border: 1px solid rgba(81, 104, 75, 0.4);
      border-right: none;
      display: inline-block;
      padding: 4px 10px;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px; }
    .footer .subscribe button {
      border: 1px solid rgba(81, 104, 75, 0.4);
      border-left: none;
      background: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px; }
  .footer label {
    color: #403d50;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 10px; }
  .footer a {
    color: #403d50;
    display: inline-block;
    margin-bottom: 4px; }
  .footer .contacts {
    text-align: right; }
    .footer .contacts > div {
      margin-bottom: 12px;
      max-width: 269px;
      display: flex;
      margin-left: auto;
      width: 100%;
      justify-content: space-between;
      align-items: flex-start; }
      .footer .contacts > div span {
        display: inline-block;
        width: 230px;
        line-height: 24px;
        display: inline-block; }

@keyframes float {
  0% {
    transform: translate(0px, 0px); }
  50% {
    transform: translate(0px, 10px); }
  100% {
    transform: translate(0px, 0px); } }

@keyframes float2 {
  0% {
    transform: translate(0px, 0px) rotateZ(0deg); }
  50% {
    transform: translate(0px, 15px) rotateZ(60deg); }
  100% {
    transform: translate(0px, 0px) rotateZ(0deg); } }

@keyframes float3 {
  0% {
    transform: translate(0px, 0px) rotateZ(0deg); }
  50% {
    transform: translate(10px, 15px) rotateZ(26deg); }
  100% {
    transform: translate(0px, 0px) rotateZ(0deg); } }

@keyframes showHeader {
  0% {
    transform: translate(0px, -70px); }
  100% {
    transform: translate(0px, 0px); } }

.changePage {
  display: inline-block;
  color: #51684b;
  margin: 0px 10px;
  font-size: 16px;
  font-weight: bold;
  height: 58px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  text-transform: uppercase;
  justify-content: center;
  border-radius: 12px;
  border: 2px solid; }

.newPageContenet {
  margin-top: 140px; }
  .newPageContenet .dubbleTitle h2 {
    font-size: 65px; }
  .newPageContenet img {
    max-width: 100%; }

.logosLine {
  background-color: #fff;
  margin-top: 40px;
  padding: 20px 0px; }
  .logosLine img {
    max-width: 100%; }

.tax {
  margin-top: 50px;
  margin-bottom: 30px; }

.taxProcentLine {
  width: 100%;
  display: flex; }
  .taxProcentLine span {
    font-size: 14px; }
  .taxProcentLine > div > div {
    color: #fff;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 4px solid #e5e5e5;
    margin-bottom: 8px; }
  .taxProcentLine .procent4 {
    width: 40%; }
    .taxProcentLine .procent4 div {
      background: linear-gradient(90deg, #e0a607 0%, rgba(224, 166, 7, 0.7) 100%); }
  .taxProcentLine .procent3 {
    width: 30%; }
    .taxProcentLine .procent3 div {
      background: linear-gradient(90deg, #25d043 0%, rgba(37, 208, 67, 0.7) 100%); }
  .taxProcentLine .procent2 {
    width: 20%; }
    .taxProcentLine .procent2 div {
      background: linear-gradient(90deg, #df5030 0%, rgba(223, 80, 48, 0.7) 100%); }
  .taxProcentLine .procent1 {
    width: 10%; }
    .taxProcentLine .procent1 div {
      background: linear-gradient(90deg, #2e6ba9 0%, rgba(46, 107, 169, 0.7) 100%); }

#timer {
  align-items: center;
  border: 1px solid;
  padding: 10px;
  border-radius: 8px; }
  #timer > div {
    margin-right: 20px; }

#days {
  font-size: 20px;
  color: #7cb46b; }

#hours {
  font-size: 20px;
  color: #7cb46b; }

#minutes {
  font-size: 20px;
  color: #7cb46b; }

#seconds {
  font-size: 20px;
  color: #7cb46b; }

@media only screen and (max-width: 1320px) {
  .roadmap {
    overflow: hidden; }
  .firstSection .jungle {
    position: absolute;
    width: 43%;
    right: 7px;
    top: -70px;
    max-height: 95vh; }
  .firstSection__header ul a {
    color: #fff; }
  .firstSection__content .heding span {
    font-size: 89px; } }

@media only screen and (max-width: 1200px) {
  .HeaderFixed {
    font-size: 12px; }
  .firstSection__header ul a {
    font-size: 14px; }
  .firstSection__content .heding span {
    font-size: 77px; }
  .changePage {
    font-size: 12px; }
  .roadmap .container {
    max-width: 1120px !important; } }

@media only screen and (max-width: 768px) {
  .newPageContenet {
    margin-top: 50px; }
  .taxProcentLine {
    max-width: calc(100% - 20px); }
  .Globally a {
    font-size: 12px;
    margin-top: 30px; }
  .Globally h3 {
    font-size: 14px; }
  .Globally p {
    font-size: 13px; }
  .HeaderFixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0; }
  #home {
    margin-top: 80px; }
  .feature-item {
    text-align: center !important; }
  .menuOnScroll-col {
    position: absolute;
    background-color: #2a263c;
    height: 200px;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    top: 45px; }
  .HeaderFixed .menuOnScroll ul {
    flex-direction: column;
    font-size: 24px;
    text-align: center; }
  .menuOnScroll {
    display: block !important; }
  .coin1,
  .coin2,
  .coin3,
  .coin4 {
    display: none; }
  .firstSection__header__menu {
    display: none; }
  .firstSection__content .heding span {
    font-size: 50px; }
  .jungle {
    display: none; }
  .buy_Tokens {
    margin: auto; }
  .firstSection__content {
    margin: auto;
    margin-top: 46px;
    max-width: 500px;
    position: relative;
    text-align: center; }
  .HeaderFixed {
    font-size: 13px; }
  .dubbleTitle {
    margin: auto;
    padding-top: 70px;
    text-align: center; }
    .dubbleTitle span {
      position: absolute;
      font-size: 52px;
      font-family: "Anton", sans-serif;
      white-space: nowrap;
      color: rgba(124, 180, 107, 0.1);
      transform: translate(-50%, -50%);
      left: 50%; }
      .dubbleTitle span h1 {
        font-size: 30px; }
  .firstSection__header > div {
    margin: auto; }
  .stats__item {
    font-size: 17px;
    width: 33%;
    margin-bottom: 5px; }
    .stats__item span {
      margin-bottom: 0px; }
  .diagramSvg {
    padding-bottom: 90px; }
  .tokenomics {
    padding-bottom: 0px; }
  .stats .container > div {
    flex-wrap: wrap;
    justify-content: center !important; }
  .roadImage {
    display: none; }
  .roadmap__item {
    margin-left: auto !important;
    margin-right: 0px !important;
    max-width: 80%;
    text-align: right !important;
    margin-top: 30px !important; }
  .faq {
    padding-top: 50px; }
  .roadmap__item-15 {
    padding-bottom: 78px; }
  .btns-green {
    height: 49px;
    font-size: 13px; }
  .contact {
    padding-top: 14px; } }

.burgerMenu {
  cursor: pointer; }

.feature-item {
  text-align: left;
  margin-bottom: 40px;
  max-width: 282px;
  margin: auto; }
  .feature-item img {
    height: 80px;
    display: inline-block;
    margin: auto;
    margin-bottom: 20px; }
  .feature-item h3 {
    text-transform: uppercase;
    color: #575467;
    font-family: "Anton", sans-serif; }
  .feature-item p {
    color: #838291; }

@media only screen and (max-width: 386px) {
  .dubbleTitle span {
    position: absolute;
    font-size: 36px; }
  .dubbleTitle h2 {
    font-size: 25px; }
  .sectinFutter {
    font-size: 11px; } }
